@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-secondary {
  background-color: #82b3d3;
}

.header {
  margin: 0 auto;
  width: 1060px;
  display: flex;
}

.logo-link {
  display: block;
  margin-right: 28px;
  margin-bottom: -10px;
  z-index: 1;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 450px;
  list-style: none;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.nav-link {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 20px 16px;
}

.user-menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 312px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.user-menu-link {
  padding: 22px 12px;
  text-decoration: none;
  color: #ffffff;
}

.favorit-number {
  background-color: #7db54f;
}

.user-menu-button {
  padding: 8px 34px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-color: #5684a3;
  background-image:
    url("../images/vector-welcome.svg"),
    url("../images/bg-welcome.jpg");
  background-size: 100% auto, cover;
  background-position: 50% 100%, 50% 50%;
  background-repeat: no-repeat;
}

.welcome-pic {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
  padding: 51px 0 82px;
}

.advantages-container {
  padding: 69px 240px 90px;
}

.advantages,
.additional {
  text-align: center;
}

.advantages-heading,
.additional-heading {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-heading {
  margin-bottom: 25px;
}

.additional-heading {
  margin-bottom: 20px;
}

.advantages-text,
.additional-text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}

.additional-container {
  padding: 64px 342px;
}

.advantages-description,
.additional-description {
  margin: 0;
}

.advantages-list,
.additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-title,
.additional-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title {
  margin-bottom: 62px;
}

.additional-title {
  margin-bottom: 30px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item-container {
  padding: 112px 85px;
}

.advantages-photo .advantages-item-container {
  padding: 102px 82px;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-photo {
  color: #ffffff;
  background-color: #82b3d3;
  grid-column: -1 / 1;
  display: grid;
}

.advantages-photo.photo-left {
  grid-template-columns: 400px 1fr;
}

.advantages-photo.photo-right {
  grid-template-columns: 1fr 400px;
}

.advantages-photo.photo-right .advantages-item-container {
  order: 1;
}

.additional-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.additional-item {
  padding: 183px 85px 81px;
  background-repeat: no-repeat;
  background-position: 50% 26%;
  background-size: 75px 72px;
}

.additional-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.additional-item-home {
  background-image: url("../images/additional-icons/home.svg");
}

.additional-item-food {
  background-image: url("../images/additional-icons/food.svg");
}

.additional-item-souvenirs {
  background-image: url("../images/additional-icons/souvenirs.svg");
}

.search {
  text-align: center;
  padding: 96px 300px 97px;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-text {
  margin: 0;
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 50px;
}

.subscribe {
  padding: 97px 258px 104px;
  text-align: center;
}

.subscribe-main {
  color:#ffffff;
  background-color: #5684a3;
  background-image: url("../images/bg-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 232px;
}

.subscribe-field {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.social {
  margin: 0 auto;
  padding: 40px 0 30px;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  width: 1060px;
  font-size: 40px;
  line-height: 40px;
}

.social-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social-phone {
  color: #000000;
  text-decoration: none;
}

.social-link {
  margin-left: auto;
}

.filter-container {
  padding: 35px 70px 58px;
  background-color: #9f9191;
  background-image: url("../images/bg-filter.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.catalog-container {
  flex-grow: 1;
}

.catalog-header {
  margin-bottom: 40px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link {
  color:#ffffff;
  text-decoration: none;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 60px;
}

.filter-group {
  margin: 0;
  padding: 0;
  width: 160px;
  border: none;
  color: #ffffff;
}

.price-container {
  margin: 0 10px 0 auto;
}

.filter-group-price {
  width: 288px;
}

.filter-title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.filter-list {
  margin: 0;
  padding: 0;
  line-height: 23px;
  list-style: none;
}

.filter-item {
  margin-bottom: 16px;
}

.filter-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2px;
}

.filter-price {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  border: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.price-min {
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.slider {
  position: relative;
  margin-top: 46px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-price {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.slider-toggle {
  position: absolute;
  top: -10px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-min {
  left: 0;
}

.slider-max {
  right: 0;
}

.filter-buttons {
  margin-top: 54px;
  width: 191px;
}

.filter-button {
  padding: 8px 40px;
  width: 100%;
}

.button-apply {
  margin-bottom: 34px;
}

.button-reset {
  background-color: initial;
}

.hotels-container {
  margin: 0 auto;
  padding: 50px 0 60px;
  width: 1060px;
}

.hotels-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.view-container {
  display: flex;
  align-items: center;
}

.hotels-select {
  margin-left: auto;
  padding: 14px;
  width: 292px;
}

.view-list {
  margin: 0;
  padding: 0;
  margin-left: 70px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  list-style: none;
}

.view-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
}

.view-link-active {
  border: 2px solid #000000;
}

.hotel-list {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  border-bottom: 2px solid #e6e6e6;
}

.hotel-link-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-list {
  margin: 0;
  padding: 40px 0 0;
  display: flex;
  list-style: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.pagination-item + .pagination-item {
  margin-left: 8px;
}

.pagination-link {
  display: inline-block;
  padding: 12px 24px;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-item:first-child .pagination-link,
.pagination-item:last-child .pagination-link {
  background-color: #f2f2f2;
}
